.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 600px;
  height: 850px;
  margin-top: 100px;
  margin-left: 20px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 5px;

}

.logo {
  width: 100px;
  margin-top: 10px;

}

.titleReg {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.txtLabel {
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 20px
}

.form-control {
  width: 520px;
}


.moreInf {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 200px;
}

.moreInf:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.moreInf:main,
button:focus {
  user-select: auto;
}

.moreInf:hover:not(:disabled) {
  filter: brightness(1.1);
}

.moreInf:disabled {
  cursor: auto;
}

.moreInf:active:after {
  border-width: 0 0 0px;
}

.moreInf:active {
  padding-bottom: 10px;

}

.invalid {
  color: rgb(180, 1, 1);
  font-family: 'Merriweather Sans', sans-serif;
}
