<section class="home">


  <article class="fondo-img">
    <img class="fondoHome" src="./assets/fondoHome.jpg">
  </article>
   
<article class="txtH">
    
    <h1 class="titleHome">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Phasellus sit amet condimentum velit. Pellentesque ultrices
         lorem vitae ante hendrerit, a hendrerit leo scelerisque. 
         Maecenas non lacus magna. Cras quis laoreet arcu. 
         Nullam vel tempus augue. Maecenas suscipit massa a 
         porttitor faucibus. Sed cursus ultrices mi ut eleifend. 
         Phasellus pretium congue justo in rhoncus. Curabitur ut 
         libero orci. Vivamus eu mauris sollicitudin, imperdiet 
         risus lobortis, luctus augue.
        
    </h1>
    <div class="boton">
        <button type="button" href="#" class="moreInf">Ver mas</button>
    </div>
    
</article>
</section>
