<section class="home">


    <article class="fondo-img">
      <img class="fondoHome" src="./assets/fondoRegis.jpg">
    </article>
     
  <article class="registro">
        <h1 class="titleReg">REGISTRO BOOKS APP</h1>
        <input type="text" class="regis" id="nameRegis" placeholder="Nombre">
        <input type="text" class="regis" id="apellidoRegis" placeholder="Apellido">
        <input type="email" class="regis" id="emailRegis" placeholder="Email">
        <input type="url" class="regis" id="urlRegis" placeholder="URL">
        <input type="password" class="regis" id="passwordRegis" placeholder="Contraseña">
        <input type="password" class="regis" id="passwordRegis" placeholder="Repita Contraseña">
      <div class="boton">
          <button type="button" href="#" class="moreInf">Registrarme</button>
      </div>
      
  </article>
  </section>
