<section class="libroRe">
    
        <article class="registro-libros">
            <h1 class="titleRegUsua">Ingrese un libro</h1>
            <!-- <input type="number" class="regisBook" #idLibro placeholder="ID Libro" /> -->
            <input type="number" class="regisBook" #id_usuario placeholder="ID Usuario" />
            <input type="text" class="regisBook" #titulo placeholder="Titulo" />
            <input type="text" class="regisBook" #tipoLibro placeholder="Tipo de libro" />
            <input type="text" class="regisBook" #autor placeholder="Autor" />
            <input type="number" class="regisBook" #precio placeholder="Precio" />
            <input type="text" class="regisBook" #fotoLibro placeholder="URL foto libro" />

            <div class="boton">
                <button type="reset" class="moreInf" (click)=nuevoLibro(id_usuario.value,titulo.value,tipoLibro.value,autor.value,precio.value,fotoLibro.value)>Añadir</button>
            </div>
        </article>

        <article class="registro-libros">
            <h1 class="titleRegUsua">Editar datos</h1>
            <input type="number" class="regisBook" #editIdLibro placeholder="ID Libro" />
            <input type="number" class="regisBook" #editIdUsua placeholder="ID Usuario" />
            <input type="text" class="regisBook" #editTitulo placeholder="Titulo" />
            <input type="text" class="regisBook" #editTipoBook placeholder="Tipo de libro" />
            <input type="text" class="regisBook" #editAutor placeholder="Autor" />
            <input type="number" class="regisBook" #editPrecioBook placeholder="Precio" />
            <input type="text" class="regisBook" #editUrlBook placeholder="URL foto libro" />

            <div class="boton">
                <button type="reset" class="moreInf" (click)=editLibro(editIdLibro.value,editIdUsua.value,editTitulo.value,editTipoBook.value,editAutor.value,editPrecioBook.value,editUrlBook.value)>Modificar</button>
            </div>
        </article>
   

</section>